[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
requests = "*"
expiringdict = "*"
pillow = "*"
fs = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-restplus = "*"
flask-httpauth = "*"
sqlalchemy-utils = "*"
flask-alembic = "*"
flask-cdn = "*"
psycopg2-binary = "*"
gunicorn = "*"
fs-s3fs = "*"

[requires]
python_version = "3.7"
