[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
requests = "*"
expiringdict = "*"
pillow = "*"
pydal = "*"
"psycopg2" = "*"
"fs-s3fs" = "*"
python-dotenv = "*"
gluon = "*"

[requires]
python_version = "3.7"

[dev-packages]
"pep8" = "*"
pylint = "*"
rope = "*"
"autopep8" = "*"
