[project]
name = "valhalla"
version = "1.1.0"
description = "An alternative skin server for Minecraft supporting metadata and hd textures"
authors = [
    { name = "Matthew Messinger", email = "mattmess1221@gmail.com" },
]
dependencies = [
    "aiofiles>=23.2.1",
    "alembic>=1.13.1",
    "authlib>=1.3.0",
    "expiringdict>=1.2.2",
    "fastapi>=0.110.2",
    "pydantic>=2.7.1",
    "pydantic-settings>=2.2.1",
    "httpx>=0.27.0",
    "itsdangerous>=2.2.0",
    "pillow>=10.3.0",
    "python-dotenv>=1.0.1",
    "python-jose>=3.3.0",
    "python-multipart>=0.0.9",
    "sqlalchemy>=2.0.29",
    "psycopg[binary]>=3.1.18",
    "uvicorn>=0.29.0",
    "gunicorn>=22.0.0",
    "boto3>=1.34.93",
]
requires-python = ">=3.12,<4.0"

[project.urls]
repository = "https://github.com/killjoy1221/ValhallaSkinServer"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm]

[tool.pdm.scripts]
dev.cmd = "uvicorn valhalla.app:app --reload"
dev.env = { ENV = "dev", DEBUG = "1" }
cov = "pytest --cov"
lint.composite = ["ruff check --fix", "ruff format"]

[tool.pdm.dev-dependencies]
test = [
    "pytest>=8.1.2",
    "pytest-cov>=5.0.0",
    "aiosqlite>=0.20.0",
    "moto[s3,sts]>=5.0.5",
]
dev = [
    "pre-commit>=3.7.0",
    "aiosqlite>=0.20.0",
]
lint = [
    "ruff>=0.4.2",
]
types = [
    "mypy>=1.10.0",
    "types-aiofiles>=23.2.0.20240403",
    "types-pillow>=10.2.0.20240423",
    "types-python-jose>=3.3.4.20240106",
    "boto3-stubs[s3,sts]>=1.34.93",
]

[tool.pytest.ini_options]
norecursedirs = [
    "__pypackages__"
]

[tool.coverage]
[tool.coverage.report]
fail_under = 80
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "if TYPE_CHECKING:",
    "@overload",
    "class .*Protocol"
]

[tool.coverage.run]
omit = [
    ".vscode*",
    "__pypackages__/*",
]

[tool.mypy]
plugins = [
    "pydantic.mypy",
]
ignore_missing_imports = true

[tool.ruff]
target-version = 'py312'

[tool.ruff.lint]
select = [
    "F", "E", "W", "B", "SIM", "I", "ANN", "UP",
    "YTT", "FBT", "ASYNC", "TRIO", "C4", "DTZ",
    "PIE", "RET", "SLF", "TRY", "FLY", "PERF", "RUF"
]
ignore = ["ANN1"]

[tool.ruff.lint.flake8-annotations]
mypy-init-return = true
