{% macro render_vite_prod(file) %}
{% set manifest = read_manifest() %}
{% for css in manifest[file].css -%}
<link rel="stylesheet" href="{{ url_for('vite', path=css) }}" />
{%- endfor %}
<script type="module" src="{{ url_for('vite', path=manifest[file].file) }}"></script>
{% endmacro %}

{%- macro render_vite_hmr(backend, file) -%}
<script type="module" src="{{ backend }}/@vite/client"></script>
<script type="module" src="{{ backend }}/{{file}}"></script>
{%- endmacro -%}

{%- macro render_vite(file) %}
{% if settings.env.isprod %}
{{ render_vite_prod(file) }}
{% else %}
{{ render_vite_hmr(settings.dashboard_dev_server, file) }}
{% endif %}
{% endmacro %}
