name: ruff

on: [push]

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup PDM
      uses: pdm-project/setup-pdm@v4
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        pdm sync --no-default -d -G lint
    - name: Lint and format with ruff
      run: |
        pdm run ruff check
        pdm run ruff format --check
